@import "../../styles/variables";
@import "../../styles/mixins";

.loginPage {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	min-height: 100vh;
	padding: 100px 60px;

	@include mobile {
		padding: 1rem;
		padding-top: 2rem;
		align-items: flex-start;
	}

	.page_container {
		width: 100%;
		height: 100%;
		background-color: #fff;

		.logo_container {
			margin-bottom: 2rem;

			img {
				width: 174px;

				@include mobile {
					width: 120px
				}
			}
		}


		.page_grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;

			@include mobile {
				grid-template-columns: 1fr;
			}

			.loginPage_left {
				.illustration_img {
					img {
						width: 600px;
						height: 338px;
					}
				}

				@include mobile {
					display: none;
				}
			}

			.loginPage_right {
				display: flex;
				align-items: center;
				justify-content: center;

				&>div {
					width: 75%;

					@include mobile {
						width: 100%;
					}

					.welcome_title {
						color: #213f7d;
						font-size: 40px;
						font-weight: 700;
						font-family: "AvenirBold", sans-serif;
						margin-bottom: 1rem;
					}

					.subtitle {
						color: $text-light-color;
						font-size: 20px;
						font-weight: 400;
						font-family: "AvenirRegular", sans-serif;
					}

					.login_form {
						margin-top: 3.8rem;

						input {
							width: 100%;
							font-family: "AvenirRegular", sans-serif;
							color: $text-light-color;
						}

						.email_input_container {
							border: 2px solid $input-border-color;
							border-radius: 5px;
							background: #ffffff;
							height: 50px;
							margin-bottom: 1.5rem;

							.email_input {
								@include input-reset;
								padding: 0.2rem 1rem;
								height: 100%;
							}
						}

						.password_input_container {
							display: flex;
							border: 2px solid $input-border-color;
							border-radius: 5px;
							background: #ffffff;
							height: 50px;
							padding: 0.2rem 1rem;
							margin-bottom: 0.6rem;

							input {
								@include input-reset;
							}

							#show_password_btn {
								@include button-reset;
								background: transparent;
								display: inline-flex;
								align-items: center;
								height: 100%;
								color: $accent-color;
								font-size: 0.8rem;
								font-weight: 600;
								font-family: "AvenirBold", sans-serif;
							}
						}

						.error_container {
							margin: 0.5rem 0;
							padding: 0;

							.error_message {
								display: inline-block;
								color: $error-color;
								font-size: 12px;
							}
						}


						.forgot_password_link {
							@include button-reset;
							background: transparent;
							color: $accent-color;
							font-size: 0.8rem;
							font-weight: 600;
							font-family: "AvenirRegular", sans-serif;
							text-decoration: none;
						}

						.login_btn_container {
							margin-top: 1.8rem;

							#login_btn {
								@include button-reset;
								width: 100%;
								background-color: $accent-color;
								color: #fff;
								border-radius: 8px;
								height: 48px;
								font-weight: 600;
								font-family: "AvenirRegular", sans-serif;
								letter-spacing: 0.1em;
							}
						}
					}
				}
			}

		}


	}
}