@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar_container {
	height: 100%;
	min-height: 100vh;
	width: 283px;
	background: #fff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
	padding: 1.5rem 0;
	z-index: 99px;

	@include mobile {
		background: #fff;
		position: absolute;
		z-index: 99;
		width: 100%;
		height: auto;
		top: 80px;
		left: -100%;

		&.mobile_nav_active {
			left: 0;
		}
	}

	.sidebar_inner {
		.switch_org_link {
			display: inline-flex;
			align-items: center;
			gap: 10px;
			color: $text-main-color;
			padding-left: 30px;
			padding: 10px 30px;
			text-decoration: none;
			opacity: 1;
		}

		.dashboard_link {
			margin-top: 2rem;
			opacity: 0.6;
		}

		.links_group {
			margin-top: 2.5rem;

			.links_heading {
				font-size: 0.8rem;
				font-weight: 500;
				padding-left: 30px;
				color: $text-light-color;
				margin-bottom: 10px;
			}

			.links_container {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}
		}

		.side_nav_bottom {
			margin-top: 5rem;

			a {
				text-decoration: none;
			}

			.version_text {
				font-size: 12px;
				color: $text-main-color;
				display: inline-block;
				margin-top: 2rem;
				padding-left: 30px;
			}
		}
	}
}